.container {
    background-color: #6d79cc;
    text-align: center;
}

.top-menu {
    margin: 0 auto;
    width: 900px;
    font-family: Economica, serif;
    font-weight: bold;
    background-color: #6d79cc;

}

a {
    color: #fff;
    padding: 5px 20px;
    line-height: 40px;
    font-size: 1.5em;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    color: #777;
    background-color: #eee;
    padding: 5px 20px;
    line-height: 40px;
    font-size: 1.5em;
    display: inline-block;
    text-decoration: none;
}