* {
  margin: 0;
  padding: 0;
}


.container {
  width: 900px;
  height: 40px;
  background-color: #f4f4f4;
  margin: 25px auto;
  padding-top: 15px;
  text-align: center;
}

ul {
  list-style-type: none;
  display: block;
  margin: 0 auto;
}

li {
  float: left;
  display: inline-block;

}

a {
  display: inline-block;
  padding: 5px 5px;
  color: #9932cc;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
}

.pager-word {
  width: 65px;
}

.pager-number {
  border: 1px solid #95949E;
  border-radius: 5px;
  margin: 0 5px;
}

a:hover {
  color: #f4f4f4;
  background-color: #9932cc;
}