.wrapper {
  background: url("../img/bg-customer-cite.jpg") repeat-x;
  height: 315px;
  margin: 0 auto;
}

.container {
  margin: 50px auto;
  width: 1400px;
  min-width: 1020px;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding-top: 1px;
}

.title {
  font-size: 40px;
  color: #3170a8;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 120px;
}

.title span {
  color: #ee8129;
}

.customer-cites {
  margin-left: 187px;
}

.customer-cite {
  display: inline-block;
  vertical-align: top;
  width: 488px;
  margin-right: 40px;
}

.customer-cite::after {
  content: "";
  display: table;
  clear:both;
}

.customer-image {
  float: left;
}

.customer-cite-text {
  float: right;
  width: 323px;
  margin-left: 23px;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
  color: #3070a8;
  font-style: italic;
  font-size: 13px;
  padding: 0 20px;
  position: relative;
}

.customer-cite-text::before {
  content:"";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right:15px solid #f7f7f7;
  position: absolute;
  top: 35px;
  left: -15px;
  z-index: 1;
}

.cite-text::after {
  content: "";
  display: table;
  clear: both;
}

.customer-name {
  float: left;
  margin-bottom: 0;
 }

.customer-name:before {
  content: "- ";
}

.customer-prophecy {
  float: right;
  margin-bottom: 0;
}

.customer-phrase {
  color: #666666;
  margin-top: 9px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 20px;
  font-style: normal;
  text-align: left;
  border-top: dashed 1px #666666;
  padding-top: 10px;
}